<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/navigation.css" />
    <link rel="stylesheet" type="text/css" href="/css/member.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/course.css" />
    <link rel="shortcut icon" href="/image/logo.png" />
    <title>Learningverse</title>
  </head>
  <body class="scrollbar">
    <%- include("partials/navigation") %> <%- include("partials/member") %>
    <main>
      <section class="brief_info">
        <div class="brief__img_container">
          <img
            src="https://d277hbzet0a7g8.cloudfront.net/courseImage/defaultCourseImg.png"
          />
        </div>
        <div class="brief__text_container"></div>
      </section>
      <section class="outline"></section>
    </main>

    <%- include("partials/footer") %>
    <script type="text/javascript" src="/js/navigation.js"></script>
    <script type="text/javascript" src="/js/ajax.js"></script>
    <script type="text/javascript" src="/js/member.js"></script>
    <script type="text/javascript" src="/js/course.js"></script>
  </body>
</html>
