<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/navigation.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/memberArea.css" />
    <link
      rel="shortcut icon"
      href="https://d277hbzet0a7g8.cloudfront.net/icon/logo.png"
    />
    <title>Learningverse</title>
  </head>
  <body class="body--normal">
    <%- include("partials/navigation") %> <%- include("partials/member") %>
    <main class="container">
      <img class="user_img" />
      <!-- <div class="user_name">李亞珊</div> -->
    </main>
    <%- include("partials/footer") %>
    <script type="text/javascript" src="/js/navigation.js" defer></script>
    <script type="text/javascript" src="/js/ajax.js" defer></script>
    <script type="text/javascript" src="/js/memberArea.js" defer></script>
  </body>
</html>
