<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/meetingRoom.css" />
    <link rel="shortcut icon" href="/image/logo.png" />
    <title>Learningverse</title>
  </head>
  <body>
    <main></main>
    <section class="upper_space">
      <!-- 視訊畫面 -->
      <div class="video_container"></div>
      <!-- 右側文字訊息 -->
      <div class="right_panel elem--hide" id="right_panel__msg">
        <div class="right_panel__title">教室內的訊息</div>
        <div class="right_panel__msgContent right_panel__scrollbar">
          <span>你</span> <span style="color: #404e4d">21:23</span>
          <div>我好你好大家好</div>
          <span>你</span> <span style="color: #404e4d">21:23</span>
          <div>我好你好大家好</div>
        </div>
        <form class="send_msg_form">
          <input
            class="send_msg_input"
            type="text"
            name="msg"
            placeholder="傳送訊息"
          />
          <button class="send_msg_btn">
            <img class="send_msg_icon" src="/image/send.png" />
          </button>
        </form>
      </div>
      <!-- 右側參加者名單 -->
      <div class="right_panel elem--hide" id="right_panel_participant">
        <div class="right_panel__title">參與者</div>
        <div class="right_panel__participantContent right_panel__scrollbar">
          <div class="participant__info">
            <img
              class="right_panel__user_img"
              src="https://picsum.photos/200"
            />
            <span>李亞珊</span>
          </div>
          <div class="participant__info">
            <img
              class="right_panel__user_img"
              src="https://picsum.photos/200"
            />
            <span>李亞珊</span>
          </div>
        </div>
      </div>
    </section>
    <section class="taskbar">
      <div class="taskbar__info">
        <div id="taskbar__time" class="info__item">16:00</div>
        <div class="info__item">|</div>
        <div id="taskbar__room_id" class="info__item"></div>
      </div>
      <div class="taskbar__main_function">
        <button class="btn__microphone--off elem--hide"></button>
        <button class="btn__microphone--on"></button>
        <button class="btn__camera--off elem--hide"></button>
        <button class="btn__camera--on"></button>
        <button class="btn__raise_hand"></button>
        <button class="btn__shear_screen"></button>
        <button class="btn__leave_room"></button>
      </div>
      <div class="taskbar__minor_function">
        <button class="btn__info"></button>
        <button class="btn__msg"></button>
        <button class="btn__participant"></button>
        <button class="btn__lottery"></button>
      </div>
    </section>
    <script src="/socket.io/socket.io.js" defer></script>
    <script
      src="https://unpkg.com/peerjs@1.5.1/dist/peerjs.min.js"
      defer
    ></script>
    <script type="text/javascript" src="/js/ajax.js" defer></script>
    <script type="text/javascript" src="/js/meetingRoom.js" defer></script>
    <script type="text/javascript" src="/js/prepareRoom.js" defer></script>
  </body>
</html>
