<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/navigation.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/prepareRoom.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/css/meetingRoom.css" /> -->
    <link rel="shortcut icon" href="/image/logo.png" />
    <title>Learningverse</title>
  </head>
  <body class="body--normal">
    <main>
      <%- include("partials/navigation") %> <%- include("partials/member") %>
      <section class="container">
        <div class="media_control">
          <video id="previewMyVideo"></video>
          <div class="media_control__setting">
            <button
              class="btn__microphone--off elem--hide"
              id="prepare__microphone--off"
            ></button>
            <button
              class="btn__microphone--on"
              id="prepare__microphone--on"
            ></button>
            <button
              class="btn__camera--off elem--hide"
              id="prepare__camera--off"
            ></button>
            <button class="btn__camera--on" id="prepare__camera--on"></button>
          </div>
        </div>
        <div class="confirm">
          <div class="confirm__text">準備好了嗎？</div>
          <button class="confirm__btn">
            <img src="/image/enter.png" />進入教室
          </button>
        </div>
      </section>
      <%- include("partials/footer") %>
    </main>
    <script src="/socket.io/socket.io.js" defer></script>
    <script
      src="https://unpkg.com/peerjs@1.5.1/dist/peerjs.min.js"
      defer
    ></script>
    <script type="text/javascript" src="/js/navigation.js" defer></script>
    <script type="text/javascript" src="/js/ajax.js" defer></script>
    <script type="text/javascript" src="/js/prepareRoom.js" defer></script>
    <script type="text/javascript" src="/js/meetingRoom.js" defer></script>
  </body>
</html>
