<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/room.css" />
    <link rel="shortcut icon" href="/image/logo.png" />
    <title>Learningverse</title>
  </head>
  <body>
    <main></main>
    <section class="video_container"></section>
    <section class="taskbar">
      <div class="taskbar__info">
        <div id="taskbar__time" class="info__item">16:00</div>
        <div class="info__item">|</div>
        <div id="taskbar__room_id" class="info__item"></div>
      </div>
      <div class="taskbar__main_function">
        <button class="btn__microphone--off elem--hide"></button>
        <button class="btn__microphone--on"></button>
        <button class="btn__camera--off elem--hide"></button>
        <button class="btn__camera--on"></button>
        <button class="btn__raise_hand"></button>
        <button class="btn__shear_screen"></button>
        <button class="btn__leave_room"></button>
      </div>
      <div class="taskbar__minor_function">
        <button class="btn__info"></button>
        <button class="btn__msg"></button>
        <button class="btn__participant"></button>
        <button class="btn__lottery"></button>
      </div>
    </section>
    <script src="/socket.io/socket.io.js" defer></script>
    <script
      src="https://unpkg.com/peerjs@1.5.1/dist/peerjs.min.js"
      defer
    ></script>
    <script type="text/javascript" src="/js/ajax.js" defer></script>
    <script type="text/javascript" src="/js/room.js" defer></script>
  </body>
</html>
