body {
  padding: 1px;
}
.container {
  width: 1200px;
  height: calc(100vh - 155px);
  min-height: 450px;
  margin: 0 auto;
  padding: 20px 0;
}
.user_img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 50px auto 20px;
}
.user_name {
}
